<%= "給与収入(額面)：#{@face_value_y}円/年" %><br>
<%= "給与所得控除：#{@face_value_deduction}円" %><br>
<%= "給与所得(額面ー給与所得控除額)：#{@employment_income}円" %><br>
<div>所得控除</div>
<%= "社会保険料控除：#{@social_insurance_deduction}" %><br>
<%= "基礎控除：#{@basic_deduction}" %><br>
<%= "所得控除(社会保険料控除＋基礎控除)：#{@income_deduction}" %><br>

<%= "課税所得：#{@taxable_income}" %><br>

<%= "厚生年金保険料の標準報酬月額：#{@standard_reward_bymonth_wp}円" %><br>
<%= "健康保険料の標準報酬月額：#{@standard_reward_bymonth_hi}円" %><br>
<%= "介護保険料の標準報酬月額：#{@standard_reward_bymonth_ni}円" %><br>
<%= "厚生年金保険料：#{@welfare_pension}円/年" %><br>
<%= "健康保険料：#{@helth_insurance}円/年" %><br>
<%= "介護保険料：#{@nursing_insurance}円/年" %><br>
<%= "雇用保険料：#{@employment_insurance}円/年" %><br>


